In [2]:
import pandas as pd

In [10]:
dict = {
"country":["Brazil","Russia","India","China","South Africa"],
"capital":["Brasilia","Moscow","New Delhi","Beijing","Pretoria"],
"area":[8.516, 17.10, 3.286, 9.597, 1.221],
"population":[200.4, 143.5, 1252, 1357, 52.98] }

In [14]:
df = pd.DataFrame(dict)
df.head()

        country    capital    area  population
0        Brazil   Brasilia   8.516      200.40
1        Russia     Moscow  17.100      143.50
2         India  New Delhi   3.286     1252.00
3         China    Beijing   9.597     1357.00
4  South Africa   Pretoria   1.221       52.98

In [16]:
df.index = ['BR','RU','IN','CH','SA']

In [20]:
df.head()

         country    capital    area  population
BR        Brazil   Brasilia   8.516      200.40
RU        Russia     Moscow  17.100      143.50
IN         India  New Delhi   3.286     1252.00
CH         China    Beijing   9.597     1357.00
SA  South Africa   Pretoria   1.221       52.98

In [22]:
#csv reading

In [28]:
df_csv = pd.read_csv("Datasets/brics.csv",index_col=0)

In [30]:
df_csv

         country    capital    area  population
BR        Brazil   Brasilia   8.516      200.40
RU        Russia     Moscow  17.100      143.50
IN         India  New Delhi   3.286     1252.00
CH         China    Beijing   9.597     1357.00
SA  South Africa   Pretoria   1.221       52.98

In [32]:
df_csv["country"]

BR          Brazil
RU          Russia
IN           India
CH           China
SA    South Africa
Name: country, dtype: object

In [34]:
type(df_csv["country"])

pandas.core.series.Series

In [38]:
df_csv[["country"]]

         country
BR        Brazil
RU        Russia
IN         India
CH         China
SA  South Africa

In [36]:
type(df_csv[["country"]])

pandas.core.frame.DataFrame

In [46]:
#column access
df_csv[["country","capital"]] #column name

         country    capital
BR        Brazil   Brasilia
RU        Russia     Moscow
IN         India  New Delhi
CH         China    Beijing
SA  South Africa   Pretoria

In [44]:
#row access
df_csv[1:4] #index

   country    capital    area  population
RU  Russia     Moscow  17.100       143.5
IN   India  New Delhi   3.286      1252.0
CH   China    Beijing   9.597      1357.0

In [48]:
#loc and iloc
df_csv.loc["RU"]

country       Russia
capital       Moscow
area            17.1
population     143.5
Name: RU, dtype: object

In [50]:
type(df_csv.loc["RU"])

pandas.core.series.Series

In [52]:
df_csv.loc[["RU"]] #row access

   country capital  area  population
RU  Russia  Moscow  17.1       143.5

In [54]:
type(df_csv.loc[["RU"]])

pandas.core.frame.DataFrame

In [56]:
df_csv.loc[["RU","IN","CH"]]

   country    capital    area  population
RU  Russia     Moscow  17.100       143.5
IN   India  New Delhi   3.286      1252.0
CH   China    Beijing   9.597      1357.0

In [62]:
df_csv.loc[["RU", "IN"],["capital", "population"]] #row and columns

      capital  population
RU     Moscow       143.5
IN  New Delhi      1252.0

In [66]:
df_csv.loc[:,["capital", "population"]] #columns

      capital  population
BR   Brasilia      200.40
RU     Moscow      143.50
IN  New Delhi     1252.00
CH    Beijing     1357.00
SA   Pretoria       52.98

In [70]:
#iloc
df_csv.iloc[[1]] #row access

   country capital  area  population
RU  Russia  Moscow  17.1       143.5

In [74]:
df_csv.iloc[:,[0,1]] #column access

         country    capital
BR        Brazil   Brasilia
RU        Russia     Moscow
IN         India  New Delhi
CH         China    Beijing
SA  South Africa   Pretoria

In [78]:
df_csv.iloc[[1],[0,1]] #row and column

   country capital
RU  Russia  Moscow