In [2]:
def square():
    sq = 4**2
    print(sq)

In [4]:
square()

16

In [6]:
def square(value):
    sq = value**2
    print(sq)

In [8]:
square(5)

25

In [10]:
def square(value):
    sq = value**2
    return sq

In [12]:
r = square(6)
r

36

In [14]:
print(r)

36

In [16]:
def square(value):
    """takes in value as an input and returns square of a value as an output"""

    sq = value ** 2
    return sq

In [18]:
square(10)

100

In [20]:
def raise_to_power(value1,value2):
    """value 1 raised to the power of value 2"""
    return value1 ** value2

In [22]:
raise_to_power(5,4)

625

In [28]:
new_value = 10
def raise_both_values(value1, value2):
    """value1 raised to value2 and value2 raised to value 1"""
    new_value1 = value1**value2
    new_value2 = value2**value1

    return (new_value1,new_value2)

In [26]:
raise_both_values(3,5)

(243, 125)

In [30]:
new_value

10

In [32]:
new_val = 10

def square(value):
    """returns square of a value"""
    global new_val
    
    return new_val**2

In [34]:
square(3)

100

In [36]:
def mod2plus5(x1,x2,x3):
    new_x1 = x1 % 2 + 5
    new_x2 = x2 % 2 + 5
    new_x3 = x3 % 2 + 5

    return (new_x1,new_x2,new_x3)

In [38]:
mod2plus5(10,5,2)

(5, 6, 5)

In [40]:
def mod2plus5(x1,x2,x3):

    def inner(x):
        return x % 2 + 5
    return (inner(x1),inner(x2),inner(x3))

In [42]:
mod2plus5(10,5,2)

(5, 6, 5)

In [46]:
def raise_val(n):

    def inner(x):
        raised = x**n
        return raised

    return inner

In [48]:
square = raise_val(2)
cube = raise_val(3)

square(3), cube(3)

(9, 27)

In [50]:
def power(value,pow=1):
    return value**pow

In [52]:
power(9)

9

In [54]:
power(9,2)

81

In [56]:
def add_all(*args):
    total_sum = 0

    for num in args:
        total_sum+=num
    return total_sum

In [58]:
add_all(1)

1

In [60]:
add_all(1,2)

3

In [62]:
def print_all(**kwargs):
    """prints k and v of the arguments"""
    for k,v in kwargs.items():
        print(k+":"+v)

In [64]:
print_all(job="headmaster", name="Dumbledore")

job:headmaster
name:Dumbledore

In [66]:
raise_to_power = lambda x,y : x**y

In [68]:
raise_to_power(2,3)

8

In [70]:
list(map(lambda x: x**2,[1,2,3,4]))

[1, 4, 9, 16]

In [98]:
def sqrt(n):
    if n < 0:
        raise ValueError("n cannot be less than 0")

    try:
        return n**0.5
    except TypeError:
        print("requires float or int, can't be anything else")

In [104]:
sqrt(-9)

ValueError: n cannot be less than 0

In [96]:
sqrt(3.5)

1.8708286933869707